<div
  class="header bg-center relative"
  style="background-image:url('{{ imagePath }}uñas porcelana/home.jpg')"
></div>
<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center justify-center py-9">
    <h1 class="my-8 px-4 text-4xl text-gray-700 font-bold">Porcelana</h1>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-20">
      La belleza de las manos es una parte importante de nuestra apariencia
      física y puede afectar nuestra imagen y confianza en nosotros mismos. Las
      manos son una parte visible de nuestro cuerpo que utilizamos
      constantemente en nuestras actividades diarias, lo que las hace un punto
      focal para las personas con las que interactuamos. Mantener nuestras manos
      cuidadas y presentables puede tener un impacto significativo en cómo los
      demás nos perciben.
    </p>
  </div>
  <div class="container mb-20">
    <div class="flex justify-center">
      <img
        src="{{ imagePath }}uñas porcelana/porcelana.jpg"
        alt="uña rosa"
        class="rounded-full w-100 h-73 items-center"
      />
    </div>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-20">
      El proceso de aplicación de las uñas de porcelana comienza con la
      preparación de las uñas naturales, que se limpian y liman para dar formay
      retirar cualquier exceso de piel. A continuación, se aplica una capa de
      base que ayuda a que la uña de porcelana se adhiera mejor. Luego, se
      sumerge un pincel en el líquido acrílico y se mezcla con el polvo de
      porcelana para crear una bola que se aplica sobre la uña natural. La bola
      se moldea y se alisa para crear la forma deseada y luego se deja secar al
      aire o bajo una lámpara Uv.
    </p>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-20">
      Una vez que la uña de porcelana está seca, se puede limar y pulir para
      lograr la forma y el acabado deseado. Luego se puede aplicar una capa de
      esmalte de uñas para dar color y brillo a la manicura. Es importante tener
      en cuenta que las uñas de porcelana requieren un mantenimiento regular y
      deben ser rellenadas cada dos o tres semanas para evitar que se levanten o
      se rompan. También es recomendable acudir a un profesional para la
      aplicación y retirada de las uñas de porcelana para evitar dañar las uñas
      naturales.
    </p>
  </div>
  <div class="image-container mb-20">
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}uñas porcelana/rositas.jpg"
        alt="unas gris"
      />
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}uñas porcelana/uña-marron.jpg"
        alt="unas gel "
      />
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}uñas porcelana/images.jpg"
        alt="unas gel"
      />
    </div>
  </div>
</div>
