<div
  class="header bg-center relative"
  style="background-image:url('{{ imagePath }}varias-fondo/esmaltes.jpg')"
></div>
<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center justify-center py-9">
    <h1 class="my-8 px-4 text-4xl text-gray-700 font-bold">
      Ponte en Contacto con Nosotros
    </h1>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-10">
      Somos Nails Laly Femm, un exclusivo salón de uñas dedicado a brindar a
      nuestros clientes una experiencia única de cuidado de uñas. Con un equipo
      de expertos en belleza y uñas altamente capacitados, nos enorgullecemos de
      ofrecer servicios de alta calidad en un ambiente relajante y acogedor.
    </p>
    <p class="text-justify font-arial mb-20">
      En Nails Laly Femm, estamos comprometidos en brindarte una experiencia de
      cuidado de uñas excepcional, y siempre estaremos dispuestos a responder
      cualquier pregunta que tengas ya ayudarte a programar una cita que se
      adapte a tu horario. ¡rsperamos verte pronto en nuestro salón de belleza!
    </p>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-20">
    <div class="col-span-2 sm:col-span-1">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6159.898660963373!2d-0.38125475502103495!3d39.47047338642915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f4c9f09f7af%3A0x8f5e9c1364e30463!2sSant%20Francesc%2C%20Valencia%2C%20Espa%C3%B1a!5e0!3m2!1ses-419!2smx!4v1683223696758!5m2!1ses-419!2smx"
        width="100%"
        height="350"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        class="rounded-lg"
      ></iframe>
    </div>
    <div
      class="col-span-2 sm:col-span-1 bg-red-200 bg-opacity-70 p-4 rounded-lg"
    >
      <form>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="username">
            Nombre de usuario
          </label>
          <input
            class="appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Ingresa tu nombre de usuario"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="password">
            Contraseña
          </label>
          <input
            class="appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            placeholder="********"
          />
        </div>
        <div class="text-center">
          <button
            class="bg-pink-400 hover:bg-pink-500 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
            type="button"
          >
            Iniciar sesión
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center py-9">
    <h1 class="my-8 px-4 text-4xl text-gray-700 font-bold">
      Disfruta de los Servicios de Nails Laly Femm, Registrate y Confirma tu
      Cita.
    </h1>
  </div>
  <section class="bg-red-200 bg-opacity-7 rounded-lg dark:bg-gray-900 mb-10">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <form class="space-y-8">
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Nombre Completo</label
          >
          <input
            type="text"
            id="nombre"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Nombre Completo "
            required
          />
        </div>
        <div>
          <label
            for="subject"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Telefono</label
          >
          <input
            type="text"
            id="telefono"
            class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Permítenos saber en qué te podemos ayudar"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
            >Asunto</label
          >
          <textarea
            id="asunto"
            rows="6"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Coloca el servicio a agendar a tu cita...">
          </textarea>
        </div>
        <button
          (click)="enviarDatos()"
          type="button"
          class="bg-pink-400 hover:bg-pink-500 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
        >
          Envia Cita
        </button>
      </form>
    </div>
  </section>
</div>
