<div
  class="header bg-center relative"
  style="background-image:url('{{ imagePath }}uñas-gel/uña-roja.jpg')"
></div>
<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center justify-center py-9">
    <h1 class="my-8 px-4 text-4xl text-gray-700 font-bold">Uñas de Gel</h1>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-20">
      El cuidado necesario para nuestro cuerpo se ha convertido en un ritual
      cada vez más común tanto en hombres como mujeres Donde, uno de los
      enfoques principales es en nuestras manos. Con esto, han venido
      evolucionando desde un servicio secundario en los salones de belleza hasta
      un nivel totalmente profesional en el centro de uñas especializado de tu
      preferencia. Estos, ofrecen gran variedad de opciones para garantizar tu
      comodidad y satisfacción. Uno de los más demandados es la instalación de
      las uñas de gel. Nosotros te traemos sus variantes para que logres
      adaptarlas a tus necesidades:
    </p>
  </div>
  <div class="container mb-20">
    <div class="flex justify-center">
      <img
        src="{{ imagePath }}uñas-gel/uña-rosa.jpg"
        alt="uña rosa"
        class="rounded-full w-96 h-96 items-center"
      />
    </div>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-20">
      La aplicación de uñas de gel comienza con la preparación de las uñas
      naturales. Las uñas se limpian, se liman y se pulen para que el gel se
      adhiera correctamente. A continuación, se aplica una capa base de gel que
      se cura bajo la lámpara. Después, se aplica una capa de gel de color o de
      esmalte normal y se vuelve a curar bajo la lámpara. Para finalizar, se
      aplica una capa superior de gel que proporciona brillo y protección.
    </p>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-20">
      Las uñas de gel son una opción popular para aquellos que quieren una
      manicura duradera sin tener que preocuparse por el mantenimiento regular.
      Sin embargo, es importante tener en cuenta que la aplicación incorrecta o
      la retirada incorrecta de las uñas de gel pueden dañar las uñas naturales.
      Es recomendable acudir a un profesional para realizar la aplicación y
      retirada de las uñas de gel de manera segura y adecuada.
    </p>
  </div>

  <div class="image-container mb-20">
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}uñas-gel/una-color.jpg"
        alt="unas gris"
      />
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}uñas-gel/uña-natural-cremita.jpg"
        alt="unas gel "
      />
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}uñas-gel/unas-de-gel.jpg"
        alt="unas gel"
      />
    </div>
  </div>
</div>
