<div
  class="header bg-center relative"
  style="background-image:url('{{ imagePath }}uñas porcelana/rositas.jpg')"
></div>
<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center justify-center py-9">
    <h1 class="my-8 px-4 text-4xl text-gray-700 font-bold">Noticias</h1>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-20">
    <div class="p-4">
      <h2 class="text-2xl font-bold mb-4">
        Bienvenidos a Nuestra Seccion de Noticias.
      </h2>
      <p class="text-gray-600 mb-4 text-justify">
        Sobre uñas y cuidado de manos y pies. En esta sección, te mantendremos
        al día con las últimas tendencias en el cuidado de las uñas y te
        ofreceremos consejos y trucos para mantener tus manos y pies saludables
        y hermosos.
      </p>
    </div>
    <div class="p-4">
      <p class="text-gray-600 mb-4 text-justify">
        De la mano de nuestros expertos en belleza y uñas, te proporcionaremos
        información detallada sobre los diferentes tipos de uñas, cómo cuidarlas
        adecuadamente y los productos y tratamientos más efectivos para
        mantenerlas en óptimas condiciones. Todos los cuidados de manos y pies
        son sumamente importante para el bienestar y la belleza en la persona.
      </p>
    </div>
    <div class="p-4 image-container">
      <img
        src="{{ imagePath }}uñas-gel/creamdemanos.jpg"
        alt="Texto alternativo"
        class="zoom-image rounded-lg"
      />
    </div>
    <div class="p-4">
      <p class="text-gray-600 mb-4 text-justify">
        El cuidado de las manos es esencial para mantenerlas suaves y
        saludables.Protege tus manos de los rayos solares y los productos
        químicos usando guantes y evita el contacto excesivo con el agua y los
        detergentes. Con un cuidado adecuado, tus manos pueden lucir y sentirse
        saludables y hermosas.
      </p>
      <p class="text-gray-600 mb-4 text-justify">
        Para proteger tus manos de estos factores externos, es recomendable usar
        guantes al realizar tareas que involucren productos químicos o agua,
        como lavar los platos o limpiar la casa. También es importante aplicar
        regularmente cremas hidratantes para mantener la piel suave y flexible,
        especialmente después de lavar las manos.
      </p>
    </div>
    <div class="p-4">
      <p class="text-gray-600 mb-4 text-justify">
        Algunas de las tendencias más populares en decoración de uñas de los
        pies incluyen el uso de colores brillantes y llamativos, diseños
        geométricos y abstractos, y detalles delicados como flores y mariposas.
        ¡Deja volar tu creatividad y atrévete a probar nuevos diseños!
      </p>
    </div>
    <div class="p-4 image-container">
      <img
        src="{{ imagePath }}pedicura/patas.jpg"
        alt="Texto alternativo"
        class="zoom-image rounded-lg"
      />
    </div>
    <div class="p-4">
      <img
        src="{{ imagePath }}manicura/manicura-y-pedicura.jpg"
        alt="Texto alternativo"
        class="zoom-image rounded-lg"
      />
    </div>
    <div class="p-4">
      <p class="text-gray-600 mb-4 text-justify">
        Ya sea que necesites una manicura clásica rápida para un evento especial
        o un más completo que incluya hidratación y masajes relajantes de manos,
        en Nails Lalyremm nos aseguraremos de que te sientas cómodo y disfrutes
        de una experiencia relajante y satisfactoria. Ven a visitarnos y
        descubre cómo podemos hacer que tus uñas luzcan fabulosas.
      </p>
    </div>
  </div>
  <div class="bottom-12 left-0 w-full h-13 bg-pink-200 bg-opacity-70 mb-20 py-4 rounded-lg">
    <p class="text-lg font-medium text-purple-800 text-center">
      En Nails Laly Femm, nos encanta compartir nuestros trabajos y consejos de
      belleza con nuestra comunidad en línea. Síguenos en Instagram y Facebook
      para obtener inspiración para tu próxima manicura o pedicura.
    </p>
  </div>
</div>
