<div
  class="header bg-center relative"
  style="background-image:url('{{ imagePath }}manicura/manicura-clasica.jpg')"
></div>
<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center justify-center py-9">
    <h1 class="my-8 px-4 text-4xl text-gray-700 font-bold">Manicura</h1>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-10">
      Mantener la belleza de las manos no solo se trata de apariencia física,
      sino también de cuidado de la salud. El lavado frecuente de manos y el uso
      de desinfectantes pueden ser beneficiosos para prevenir la propagación de
      enfermedades. Además, el cuidado de las uñas y las cutículas puede evitar
      la aparición de infecciones y otros problemas de salud.
    </p>
    <p class="text-justify font-arial mb-20">
      La manicura clásica es una técnica de cuidado de las uñas que se realiza
      de forma habitual en los salones de belleza y también puede hacerse en
      casa. Esta técnica consiste en la limpieza, el limado, el pulido y la
      aplicación de esmalte de uñas en las uñas de las manos.
    </p>
  </div>
  <div class="container mb-20">
    <div class="flex justify-center">
      <img
        src="{{ imagePath }}manicura/manicura-navidena.jpg"
        alt="uña rosa"
        class="rounded-full w-300 h-73 items-center"
      />
    </div>
  </div>
  <p class="text-justify font-arial mb-10">
    El proceso de manicura clásica comienza con la limpieza de las manos y las
    uñas. Las uñas se limpian con un removedor de esmalte y se remojan en agua
    tibia para suavizar la cutícula. Luego, se empuja suavemente la cutícula
    hacia la base de la uña con un palito de naranjo o un corta-cutículas.
    Después de esto, las uñas se liman y se pulen para dar forma y suavidad a la
    superficie de la uña.
  </p>
  <p class="text-justify font-arial mb-10">
    El siguiente paso en la manicura clásica es la aplicación del esmalte de
    uñas. Se aplica una capa de base para proteger la uña y ayudar a que el
    esmalte se adhiera mejor. Luego, se aplica el esmalte de uñas del color
    deseado en dos capas finas para lograr un acabado uniforme y duradero.
    Finalmente, se aplica una capa superior para sellar el esmalte y
    proporcionar brillo.
  </p>
  <p class="text-justify font-arial mb-20">
    Es importante dejar que cada capa de esmalte se seque completamente antes de
    aplicar la siguiente para evitar que el esmalte se agriete o se desprenda.
    Una vez que el esmalte está seco, se puede limpiar cualquier exceso de
    esmalte alrededor de las uñas con un palito de algodón y removedor de
    esmallte.
  </p>
  <div class="image-container mb-20">
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}manicura/manos.jpg"
        alt="unas gris"
      />
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}manicura/rojas.jpg"
        alt="unas gel "
      />
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}manicura/base-mano.jpg"
        alt="unas gel"
      />
    </div>
  </div>
</div>
