.header {
  height: 190px; /* Altura del encabezado */
  background-position: center  48%; /* Posicionar la imagen en el centro */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff; /* Color del texto */
}
.image-container {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px; /* Espacio entre las imágenes */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recorta la imagen para mantener la proporción */
  border-radius: 8px;
}
.zoom-image {
  transition: transform 0.5s ease; /* Establecer la duración y el efecto de transición */
}
.zoom-image:hover {
  transform: scale(1.2); /* Establecer el valor de escala al pasar el cursor por encima */
}
