<div
  class="header bg-center relative"
  style="background-image:url('{{ imagePath }}pedicura/pedicura-pies-mujer.jpg')"
></div>
<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center justify-center py-8">
    <h1 class="my-8 px-4 text-4xl text-gray-700 font-bold">Pedicura</h1>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-10">
      La pedicura es un tratamiento de cuidado de los pies que se realiza en los
      salones de belleza y spas, y también se puede hacer en casa. Este
      tratamiento es una excelente manera de mantener los pies limpios, suaves y
      saludables, y puede proporcionar un gran alivio después de un largo día de
      pie o caminando.
    </p>
  </div>
  <div class="container mb-20">
    <div class="flex justify-center">
      <img
        src="{{ imagePath }}pedicura/piesymanos-natural.jpg"
        alt="uña rosa"
        class="h-80 max-w-full rounded-lg items-center"
      />
    </div>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-10">
      El proceso de pedicura comienza con un baño de pies calientes para
      suavizar la piel y relajar los músculos. Luego, se realiza la exfoliación
      de los pies para eliminar la piel muerta y las células secas. La
      exfoliación puede realizarse con un exfoliante suave o con una piedra
      pómez.
    </p>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-10">
      Después de la exfoliación, se procede a recortar las uñas de los pies y
      limarlas para darles forma. También se pueden eliminar las cutículas si es
      necesario. Es importante recortar las uñas de los pies correctamente para
      evitar que se claven en la piel y causen dolor e infección.
    </p>
  </div>
  <div class="prose prose-lg">
    <p class="text-justify font-arial mb-10">
      Finalmente, se aplica esmalte de uñas en las uñas de los pies en el color
      y diseño deseado. Es importante dejar que el esmalte se seque
      completamente antes de ponerse zapatos o calcetines para evitar que se
      arruine el esmalte.
    </p>
  </div>
  <div class="image-container mb-20">
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}pedicura/patas.jpg"
        alt="unas gris"
      />
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}pedicura/pies-flores.jpg"
        alt="unas gel "
      />
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg zoom-image"
        src="{{ imagePath }}pedicura/pies-azules.jpg"
        alt="unas gel"
      />
    </div>
  </div>
</div>
