<div
  class="header py-2 bg-cover bg-center relative"
  style="background-image:url('{{ imagePath }}manicura/esmaltes.jpg')">
</div>

<div class="flex flex-col items-center justify-center py-10">
  <h1 class="my-8 px-4 text-4xl text-gray-700 font-bold">
    Lista de Nuestros Precios
  </h1>
</div>
<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6">
  <div class="text-center py-4 bg-red-200 dark:bg-green-600 mb-4">
    <h2 class="text-3xl font-bold">Uñas Gel</h2>
  </div>
  <table class="w-full text-md text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 rounded-l-lg">Servicios</th>
        <th scope="col" class="px-6 py-3">Precios</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Uñas gel
        </th>
        <td class="px-6 py-4">22,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Relleno
        </th>
        <td class="px-6 py-4">17,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Sacar Gel
        </th>
        <td class="px-6 py-4">8,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Decoración por uña aparte
        </th>
        <td class="px-6 py-4">1,00 € c/u</td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="text-center py-4 bg-purple-200 dark:bg-green-600 mb-4">
    <h2 class="text-3xl font-bold">Uñas Porcelana</h2>
  </div>
  <table class="w-full text-md text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 rounded-l-lg">Servicios</th>
        <th scope="col" class="px-6 py-3">Precios</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Uñas Porcelana
        </th>
        <td class="px-6 py-4">22,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Relleno
        </th>
        <td class="px-6 py-4">17,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Sacar Porcelana
        </th>
        <td class="px-6 py-4">8,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Decoración por uña aparte
        </th>
        <td class="px-6 py-4">1,00 € c/u</td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="text-center py-4 bg-red-200 dark:bg-green-600 mb-4">
    <h2 class="text-3xl font-bold">Manicura</h2>
  </div>
  <table class="w-full text-md text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 rounded-l-lg">Servicios</th>
        <th scope="col" class="px-6 py-3">Precios</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Esmaltado Permanente
        </th>
        <td class="px-6 py-4">12,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Esmaltado Clasico
        </th>
        <td class="px-6 py-4">8,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Sacar Gel o Porcelana
        </th>
        <td class="px-6 py-4">8,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Manicura con masaje y parafina
        </th>
        <td class="px-6 py-4">10,00 € c/u</td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="text-center py-4 bg-purple-200 dark:bg-green-600 mb-4">
    <h2 class="text-3xl font-bold">Pedicura</h2>
  </div>
  <table class="w-full text-md text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 rounded-l-lg">Servicios</th>
        <th scope="col" class="px-6 py-3">Precios</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Esmaltado Permanente
        </th>
        <td class="px-6 py-4">12,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Esmaltado Clasico
        </th>
        <td class="px-6 py-4">8,00 €</td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Pedicura con masaje relajante
        </th>
        <td class="px-6 py-4">8,00 €</td>
      </tr>
    </tbody>
  </table>
</div>
